<app-navbar></app-navbar>
<div class="container mt-4">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <h2 style ="color:rgb(16, 51, 221)">Security Search</h2>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Security Code</label>
                    <input name="securitycode"[(ngModel)]="securitycode" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button (click)="readValue()" class="btn btn-info">Search</button>
                </div>
            </div>
            <div class="row mt-4 g-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6"*ngFor="let i of searchData">
                    <div class="card" style="width: 18rem;">
                        <img src="https://media.istockphoto.com/id/1300845620/vector/user-icon-flat-isolated-on-white-background-user-symbol-vector-illustration.jpg?s=612x612&w=0&k=20&c=yBeyba0hUkh14_jgv1OKqIH0CCSWU_4ckRkAoy2p73o=" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{i.sname}}</h5>
                          <p class="card-text">Mobile:{{i.mobileno}}</p>
                          <button (click)="deletebuttonclick(i.id)" class="btn btn-danger">Delete</button>

                        </div>
                      </div>
                </div>
                
            </div>
        </div>
    </div>
</div>



