
<app-navbar></app-navbar>
<div class="container mt-4">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
               <div class="col col-12 col-sm-12 col-md-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                   <h1 style="color:rgb(21, 3, 49)">Security Details</h1>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                   
                    <table class="table">
                        <thead>
                          <tr>
                          
                          
                            <th scope="col"> Name</th>
                            
                            <th scope="col">Address</th>
                            <th scope="col">Phone Number</th>

                         
                          
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let i of data" >
                            
                            
                            <td>{{i.sname}}</td>
                            <td>{{i.address}}</td>
                            <td>{{i.mobileno}}</td>
                           
                            <td></td>
                            
                           
                          </tr>
                        
                        </tbody>
                      </table>     
              
                    
                </div>
               
            </div>
        </div>
    </div>
</div>


