<app-emp-navbar></app-emp-navbar>
<div class="container mt-4">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center" >
                   <h1>Profile</h1>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12" >
                   
                  
                    <div class="card" >
                        
                        <div class="card-body">
                          <h5 class="card-title">Name : {{userdata[0].empname}}</h5>
                          <p class="card-text"></p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">Address : {{userdata[0].address}}</li>
                          <li class="list-group-item">Phone Number :{{userdata[0].mobno}} </li>
                          <li class="list-group-item">Email : {{userdata[0].email}}</li>
                        </ul>
                       
                      </div>
                    
                </div>
               
            </div>
        </div>
    </div>
</div>
