<app-navbar></app-navbar>
<div class="container mt-4">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
               <div class="col col-12 col-sm-12 col-md-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                   <h1 style="color:rgb(39, 48, 4)">Employee Log</h1>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                   
                    <table class="table table-striped">
                        <thead>
                          <tr>
                          
                            <th scope="col"> Employee Code</th>
                            <th scope="col">Entry Time</th>
                            
                            <th scope="col">Exit Time</th>
                            

                            <th scope="col">Date</th>


                         
                          
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor ="let i of employeeLog" >
                            
                            
                            <td>{{i.empcode}}</td>
                            <td>{{i.entry_time}}</td>
                            <td>{{i.exit_time}}</td>
                            <td>{{i.date}}</td>
                           
                           
                            
                           
                          </tr>
                        
                        </tbody>
                      </table>     
              
                    
                </div>
               
            </div>
        </div>
    </div>
</div>